/.ipynb_checkpoints
/480_360_Izaskun.fits
/480_360_Izaskun_20241003.fits
/A_K_map_assuming_Cardelli_law.fits
/A_K_map_assuming_Cardelli_law_Paa_based_mask.fits
/A_K_map_assuming_Cardelli_law_Paa_based_mask_generous.fits
/F1280W
/F150W
/F182M
/F182_minus_F187_fractional_bandwidth.fits
/F187N
/F187_minus_F182cont.fits
/F187_minus_F182cont_pipeline_v0.1.fits
/F210M
/F210_minus_F212_fractional_bandwidth.fits
/F210_minus_F212_fractional_bandwidth_pipeline_v0.1.fits
/F212N
/F212_minus_F210cont.fits
/F212_minus_F210cont_pipeline_v0.1.fits
/F2550W
/F300M
/F360M
/F405N
/F405_minus_F410cont.fits
/F405_minus_F410cont_pipeline_v0.1.fits
/F410M
/F410_minus_F405_fractional_bandwidth.fits
/F410_minus_F405_fractional_bandwidth_pipeline_v0.1.fits
/F466N
/F466_minus_F405.fits
/F466_minus_F480cont.fits
/F480-F300.fits
/F480M
/F480M-F360M_no_bandpass_correction.fits
/F480_minus_F466_fractional_bandwidth.fits
/F770W
/FINESST_HII_770-480-300.png
/FINESST_SED.png
/FINESST_SED_with_ALMA.png
/FINESST_SED_with_ALMA_proposal.png
/FINESST_SED_with_ALMA_talk_0.png
/FINESST_SED_with_ALMA_talk_1.png
/FINESST_SED_with_ALMA_talk_2.png
/JWST_filter_subtractions.ipynb
/JWST_filter_subtractions_automated.ipynb
/MedianFilterBackground.ipynb
/Paa_Bra_ratio.fits
/Paa_Bra_ratio_non_neg.fits
/PipelineMIRI.py
/PipelineMIRI2_marshall.py
/SED_builder.ipynb
/Schmiedeke2016_HIIregions_tableB1.reg
/SgrB2_RGB_test.png
/__pycache__
/catalogs
/convert_catalogs_from_ecsv_to_fits.ipynb
/crds
/crowdsource_nsky0_merged_photometry_tables_merged_11matches.fits
/crowdsource_nsky0_merged_photometry_tables_merged_5+matches.fits
/crowdsource_nsky0_merged_photometry_tables_merged_9+matches.fits
/data_reprojected
/destreak.py
/download_data.py
/download_products.py
/extinction_line_extended.ipynb
/f466n_artifact_cube.fits
/f466n_artifact_cube_sub.fits
/figures
/filter_subtractions
/images_destreak
/images_no_destreak
/ipython_log_2024-09-13.py
/ipython_log_2024-09-19.py
/ipython_log_2024-10-03.py
/ipython_log_2024-10-22.py
/ipython_log_2025-05-15.py
/mastDownload
/move_MIRI.sh
/output.png
/pipeline_attempt.ipynb
/pipeline_rerun_copy_of_NIRCAM-LONG.py
/pipeline_rerun_copy_of_NIRCAM-LONG_v0.2.py
/pipeline_reruns
/plot_fit.py
/plot_fit_messed_up.py
/psfs
/quick_images.ipynb
/quick_images_short.ipynb
/random_figures
/reduction
/selecting_sources_izaskun.ipynb
/sgrb2_jwst
/table_loading.py
/troubleshooting_download_data.ipynb
/webbpsf-data